<nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top">
    <a class="navbar-brand" href="#">Demo</a>
    <button class="navbar-toggler hidden-lg-up" type="button" data-toggle="collapse" data-target="#collapsibleNavId" aria-controls="collapsibleNavId"
        aria-expanded="false" aria-label="Toggle navigation"></button>
    <div class="collapse navbar-collapse" id="collapsibleNavId">
      <ul class="navbar-nav mr-auto mt-2 mt-lg-2">
        
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="dropdownId" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="background-color:green; width: 100%;">All categories</a>
          <div class="dropdown-menu" aria-labelledby="dropdownId">
            <a class="dropdown-item" href="#">Action 1</a>
            <a class="dropdown-item" href="#">Action 2</a>
          </div>
        </li>
      </ul>
      <form class="form-inline md-form mr-auto mb-4">
        <input class="form-control mr-auto mb-lg" type="text" placeholder="Search" aria-label="Search for products">
        <img src="../../assets/images/Search.png" alt="">
      </form>
      
      
      <img style="margin: 0%; padding: 1%;" src="../../assets/images/cart.png" alt="">
      
      <img src="../../assets/images/Profile.png" alt="">

    </div>
  </nav>


  
   
