<!-- Footer -->
<footer class="page-footer font-small indigo">

  <!-- Footer Links -->
  <div class="container text-center text-md-left border-light">

    <!-- Grid row -->
    <div class="row">

      <!-- Grid column -->
      <div class="col-md-3 mx-auto">

        <!-- Links -->
        <h3 class="font-weight-bold text-uppercase mt-3 mb-4 " style="color: green;" > DEMO</h3>
        <div class="">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Et placeat, necessitatibus vero ex, ad beatae modi id magnam in temporibus accusamus voluptatum sed mollitia dignissimos debitis officiis? Excepturi, blanditiis impedit.</p>
        
          </div>

      </div>
      <!-- Grid column -->

      <hr class="clearfix w-100 d-md-none">

      <!-- Grid column -->
      <div class="col-md-3 mx-auto">

        <!-- Links -->
        <h5 class="font-weight-bold text-uppercase mt-3 mb-4" style="color:lightsalmon;">Quick Links</h5>

        <ul class="list-unstyled">
          <li>
            <a href="#!">Home</a>
          </li>
          <li>
            <a href="#!">About Us</a>
          </li>
          <li>
            <a href="#!">Privacy Policy</a>
          </li>
          <li>
            <a href="#!">Careers</a>
          </li>
        </ul>

      </div>
      <!-- Grid column -->

      <hr class="clearfix w-100 d-md-none">

      <!-- Grid column -->
      <div class="col-md-3 mx-auto">

        <!-- Links -->
        <h5 class="font-weight-bold text-uppercase mt-3 mb-4" style="color:lightsalmon;">Contact Us</h5>

        <ul class="list-unstyled" style="color: green;">
          <li>
            <a href="#!"><img src="../../assets/images/telephone.png" alt=""><span>2582151251</span></a>
          </li>
          <li>
            <a href="#!"><img src="../../assets/images/mail (1).png" alt=""><span>support@sample.com</span></a>
          </li>
        </ul>

      </div>
      <!-- Grid column -->

      <hr class="clearfix w-100 d-md-none">

      <!-- Grid column -->
      <div class="col-md-3 mx-auto">
        <div>
        <!-- Links -->
        <h5 class="font-weight-bold text-uppercase mt-3 mb-4" style="color:lightsalmon;">Follow Us</h5>

        <span style="margin: 3%;padding-left: 5%;"><img src="../../assets/images/facebook.png" alt="">
        <img src="../../assets/images/instagram.png" alt="">
        <img src="../../assets/images/youtube.png" alt="">
        <img src="../../assets/images/twitter.png" alt=""></span>
      </div>
      <div><h5 class="font-weight-bold text-uppercase mt-3 mb-4" style="color:lightsalmon;">Follow Us</h5>

        <span style="margin: 0%;padding-left: 0%;"><img src="../../assets/images/67015-play-google-app-store-android-free-transparent-image-hd.png" alt="">
        <img src="../../assets/images/1200px-Download_on_the_App_Store_Badge.svg.png" alt=""></span>
      </div>
      </div>
      <!-- Grid column -->

    </div>
    <!-- Grid row -->

  </div>
  <!-- Footer Links -->

  <!-- Copyright -->
  <div class="footer-copyright text-center py-3 bg-dark" style="color: honeydew;">© 2020 Copyright:
    <a href="" style="color:khaki;"> sample.com</a>
  </div>
  <!-- Copyright -->

</footer>
<!-- Footer -->
