<div class="jumbotron">
  <div class="row" >
    <div class="card" style="width: 20rem; margin-right: auto;">
      <img src="../../assets/images/Summer sale.png" class="card-img-top egg " alt="...">
      
    </div>

    <div class="card" style="margin-left: 10px; width: 15rem; margin-right: auto;">
      <img src="../../assets/images/81H5-h2SnUL._AC_UL320_.png" class="card-img-top tide" alt="..." style="height: 261px; width: 261px;"><hr>
      <div class="card-body">
        <h5 class="card-title">Pickele</h5>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        <a href="#" class="btn btn-warning">Buy Now</a>
        <span style="padding: 2%; margin: left 20px;">        <a href="#" class="btn btn-primary " >ADD CART</a>        </span>

      </div>
    </div>
    <div class="card" style="width: 15rem; margin-right: auto;">
      <img  src="../../assets/images/Berry.png" class="card-img-top onion" alt="..." style="height: 261px; width: 261px"><hr>
      <div class="card-body">
        <h5 class="card-title">Berry</h5>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        <a href="#" class="btn btn-warning">Buy Now</a>
        <span style="padding: 2%; margin: left 20px;">        <a href="#" class="btn btn-primary " >ADD CART</a>        </span>
      </div>
    </div>
    <div class="card" style="width: 15rem; margin-right: auto;">
      <img  src="../../assets/images/81K5wirj5fL._AC_UL320_.png" class="card-img-top soap" alt="..." style="height: 261px; width: 200px"><hr>
      <div class="card-body">
        <h5 class="card-title">Milk</h5>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        <a href="#" class="btn btn-warning">Buy Now</a>
        <span style="padding: 2%; margin: left 20px;">        <a href="#" class="btn btn-primary " >ADD CART</a>        </span>

      </div>
    </div>
    <div class="card" style="width: 15rem; margin-right: auto;">
      <img  src="../../assets/images/71n1d+oXAzL._AC_UL320_ (1).png" class="card-img-top powder" alt="..." style="height: 261px; width: 200px"><hr>
      <div class="card-body">
        <h5 class="card-title">Juice</h5>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        <a href="#" class="btn btn-warning">Buy Now</a>
        <span style="padding: 2%; margin: left 20px;">        <a href="#" class="btn btn-primary " >ADD CART</a>        </span>

      </div>
    </div>
    
  </div>

</div>

  <div class="container-fluid">
    <div class="row">
        <div class="col-2">
          <img class="d-block w-100 banner1" src="../../assets/images/Banner 8.png" alt="">
        </div>
        <div class="col-2">
          <img class="d-block w-100" src="../../assets/images/Banner 9.png" alt="">
        </div>
        <div class="col-2">
            <img class="d-block w-100 banner1" src="../../assets/images/Banner 10.png" alt="">
          </div>
          <div class="col-2">
            <img class="d-block w-100 banner1" src="../../assets/images/Banner 11.png" alt="">
          </div>
          <div class="col-2">
            <img class="d-block w-100 banner1" src="../../assets/images/Banner 12.png" alt="">
          </div>
          <div class="col-2">
            <img class="d-block w-100 banner1" src="../../assets/images/Banner 11.png" alt="">
          </div>
          
          
            
    </div>
</div>

<h2>Shop By Brands</h2>

<div class="row">
    <div class="col-sm-2">
      <div class="card">
        <div class="card-image">
            <img src="../../assets/images/Amul_dairy_logo.png" alt="" style="width: 195px; height: 67px;">
          </div>
      </div>
    </div>
    <div class="col-sm-2">
      <div class="card">
        <div class="card-image">
            <img src="../../assets/images/ruchi-soya-ruchi-soya-png-200_126.png" alt="" style="width: 195px; height: 67px;">

         </div>
      </div>
    </div>
    <div class="col-sm-2">
        <div class="card">
          <div class="card-image">
              <img src="../../assets/images/cropped-logo-1.png" alt="" style="width: 195px; height: 67px;">
  
           </div>
        </div>
      </div>
      <div class="col-sm-3">
        <div class="card">
          <div class="card-image">
              <img src="../../assets/images/Britannia_Industries_Logo.svg.png" alt="" style="width: 195px; height: 67px;">
  
           </div>
        </div>
      </div>
      <div class="col-sm-3">
        <div class="card">
          <div class="card-image">
              <img src="../../assets/images/nestle-4-logo-png-transparent.png" alt="" style="width: 195px; height: 67px;">
  
           </div>
        </div>
      </div>
          
  </div>
  
<br>