<h2>Popular Products</h2>


<div class="row" >
    <div class="card" style="width: 15rem; margin-right: auto;">
      <img src="../../assets/images/egg-tray-png-6.png" class="card-img-top egg " alt="..."><hr>
      <div class="card-body">
        <h5 class="card-title">EGGs</h5>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        <a href="#" class="btn btn-warning">Buy Now</a>
        <span style="padding: 2%; margin: left 20px;">        <a href="#" class="btn btn-primary " >ADD CART</a>        </span>

      </div>
    </div>

    <div class="card" style="margin-left: 10px; width: 15rem; margin-right: auto;">
      <img src="../../assets/images/81F9IU4rW0L._SL1500_.png" class="card-img-top tide" alt="..." style="height: 261px; width: 261px;"><hr>
      <div class="card-body">
        <h5 class="card-title">Tide</h5>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        <a href="#" class="btn btn-warning">Buy Now</a>
        <span style="padding: 2%; margin: left 20px;">        <a href="#" class="btn btn-primary " >ADD CART</a>        </span>

      </div>
    </div>
    <div class="card" style="width: 15rem; margin-right: auto;">
      <img  src="../../assets/images/small-onion-500x500.png" class="card-img-top onion" alt="..." style="height: 261px; width: 261px"><hr>
      <div class="card-body">
        <h5 class="card-title">Onion</h5>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        <a href="#" class="btn btn-warning">Buy Now</a>
        <span style="padding: 2%; margin: left 20px;">        <a href="#" class="btn btn-primary " >ADD CART</a>        </span>

      </div>
    </div>
    <div class="card" style="width: 15rem; margin-right: auto;">
      <img  src="../../assets/images/71iRKnsM3BL._AC_UL320_.png" class="card-img-top soap" alt="..." style="height: 261px; width: 261px"><hr>
      <div class="card-body">
        <h5 class="card-title">Soap</h5>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        <a href="#" class="btn btn-warning">Buy Now</a>
        <span style="padding: 2%; margin: left 20px;">        <a href="#" class="btn btn-primary " >ADD CART</a>        </span>

      </div>
    </div>
    <div class="card" style="width: 15rem; margin-right: auto;">
      <img  src="../../assets/images/71RtaV7h-1L._AC_UL320_.png" class="card-img-top powder" alt="..." style="height: 261px; width: 261px"><hr>
      <div class="card-body">
        <h5 class="card-title">MIrchi powder</h5>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        <a href="#" class="btn btn-warning">Buy Now</a>
        <span style="padding: 2%; margin: left 20px;">        <a href="#" class="btn btn-primary " >ADD CART</a>        </span>

      </div>
    </div>
    
  </div>

  <br><br>

<div class="container-fluid">
    <div class="row">
        <div class="col-6">
          <img class="d-block w-100 banner1" src="../../assets/images/Banner 1.png" alt="">
        </div>
        <div class="col-6">
          <img class="d-block w-100" src="../../assets/images/Banner 2.png" alt="">
        </div>
       
    </div>
</div>

<h2>Shop By Categories</h2>

<div class="container-fluid w-100">
    <div class="row" >
        <div class="col sm-2" >
          <img class="col" src="../../assets/images/oils, refined.png" alt="" style="width: 214px; height: 149px;">
        </div>
        <div class="col">
          <img class="col" src="../../assets/images/rice, flour.png" alt="" style="width: 214px; height: 149px;">
        </div>
        <div class="col">
          <img class="col" src="../../assets/images/food Cupboard.png" alt="" style="width: 214px; height: 149px;">
        </div>
        <div class="col">
          <img class="col" src="../../assets/images/dals and pulses.png" alt="" style="width: 214px; height: 149px;">
        </div><div class="col">
          <img class="col" src="../../assets/images/Drink and beverages.png" alt="" style="width: 214px; height: 149px;">
        </div><div class="col">
          <img class="col" src="../../assets/images/fresh fruits and veg.png" alt="" style="width: 214px; height: 149px;">
        </div><div class="col">
          <img class="col" src="../../assets/images/Ready to eat.png" alt="" style="width: 214px; height: 149px;">
        </div><div class="col">
          <img class="col" src="../../assets/images/Instant mixes.png" alt="" style="width: 214px; height: 149px;">
        </div>
    </div>
</div>

<br>